name: CI
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 24ds2000026@ds.study.iitm.ac.in
        run: echo "Hello, world!"

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-83252c2

      - name: prime-cache-83252c2
        run: echo "Cache hit ${{ steps.cache-step.outputs.cache-hit }}"



